---
import BarChartComponent from "../components/BarChart.svelte";
import Layout from "../layouts/Layout.astro";
import Header2 from "../components/Header2.astro";

const prompts = [
    "Keep going strong!",
    "Excellent work so far!",
    "You're unstoppable!",
    "Your success is within reach!",
    "Believe in yourself!"
];

const randomIndex = Math.floor(Math.random() * prompts.length);
const selectedPrompt = prompts[randomIndex];
---

<Layout>
    <Header2 title={"Performance Dashboard"}/>

    <div class="text-center mt-5">
        <h4>Your Score is: <span id="scoreValue"></span> / 10</h4>
        <BarChartComponent client:load />
        <p>{selectedPrompt}</p>
        <a href="/quiz" class="btn btn-primary">Do Another Quiz!</a>
    </div>
</Layout>

<script>
    // Retrieve "correct" from localStorage once the page loads and display it
    window.addEventListener('DOMContentLoaded', () => {
        const correctScore = localStorage.getItem('correct') || '0';

        const scoreItem = document.getElementById('scoreValue')
        if (scoreItem) scoreItem.textContent = correctScore;
        
    });
</script>
