---
import "../styles/global.scss";

import Header2 from "../components/Header2.astro"
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>My Astro Site</title>

        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    </head>
    <body>
        <Header2 />
        <slot/>
    </body>
</html>
